.button {
  .font-property(17px, 20px, 700, @content-color);
  display: block;
  padding: 15px 40px;
  //width: 260px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: @main-background;
  border: 2px solid @content-color;

  &:hover {
    color: #ffffff;
    background-color: @content-color;
  }

  &:active {
    color: fade(#ffffff, 30);
  }
}
