.button {
  .font-main-property();
  padding: 15px 40px;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 20px;
  color: @content-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 2px solid @main-color;
}
