.catalog-nav {
  .lists-reset();
}

@media (min-width: @desktop-width) {
  .catalog-nav {
    flex-wrap: wrap;
    width: 350px;
  }
}

.catalog-nav__link {
  display: block;
  width: 175px;
  font-size: 15px;
  color: @main-color;
  text-decoration: none;
}
