.checkbox__label {
  position: relative;
  padding-left: 60px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 21px);
    left: 0;
    border: 2px solid @main-color;
    width: 38px;
    height: 38px;
  }

  &:hover::before,
  &:active::before {
    border-color: @input-color;
  }
}

.checkbox__input:checked + .checkbox__label {
  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 14px);
    left: 4px;
    width: 33px;
    height: 28px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }
}
