.contacts {
  padding-top: 40px;
  padding-bottom: 30px;
}

.contacts__wrapper {
  padding: 0 30px;
}

.contacts__title {
  .font-property(18px, 30px);
  margin-bottom: 40px;
  padding: 0;
}

.contacts__list {
  .font-property(15px, 30px, 400, @content-color);
  margin-bottom: 40px;
}

.contacts__field {
  width: 75px;
}

.contacts__mail-link {
  color: @content-color;
  text-decoration: none;
  border-bottom: 1px solid @content-color;
}

.contacts__map {
  width: 100%;
  margin-bottom: 40px;
}

.contacts__write-us {
  margin: 0 30px;
}
