.contacts {
  position: relative;

  &::before {
    .waveborder();
    top: -40px;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    &::before {
      bottom: -70px;
      height: 8px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: flex;
    justify-content: space-between;

    &::before {
      height: 10px;
    }
  }
}

.contacts__wrapper {
  margin: 0 auto;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    margin: 0;
    padding: 0 0 70px 175px;
    width: 525px;
    box-sizing: border-box;
  }
}

.contacts__title {
  .font-property(18px, 30px);
  margin-bottom: 40px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .contacts__title {
    .font-property(43px, 50px);
    margin-bottom: 55px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__title {
    .font-property(53px, 57px);
  }
}

.contacts__table {
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .contacts__table {
    margin-bottom: 60px;
  }
}


@media (min-width: @tablet-width) {
  .contacts__field {
    vertical-align: top;
  }
}

@media (min-width: @tablet-width) {
  .contacts__value {
    margin-left: 35px;
    width: 225px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__value {
    margin: 0;
    width: 225px;
  }
}

.contacts__map {
  margin-bottom: 40px;
}

@media (min-width: @desktop-width) {
  .contacts__map {
    align-self: flex-end;
    margin-bottom: 0;
    width: 525px;
    height: 460px;
  }
}

.contacts__write-us {
  margin: 0 auto;
  width: 260px;
}

@media (min-width: @desktop-width) {
  .contacts__write-us {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 175px;
    width: 230px;
  }
}
