.contacts {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: @body-background;
}

.contacts__wrapper {
  padding: 0 30px;
}

.contacts__title {
  .font-main-property(18px, 30px);
  margin: 0 0 40px;
  padding: 0;
}

.contacts__list {
  .font-content-property();
  margin-bottom: 40px;
}

.contacts__field {
  width: 75px;
}

.contacts__map {
  width: 100%;
  margin-bottom: 40px;
}

.contacts__write-us {
  .mobile-button-property();
  margin: 0 30px;
}
