.form {
  .font-property(17px, 18px);
}

@media (min-width: @tablet-width) {
  .form {
    font-size: 19px;
  }
}

.form__wrapper {
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    margin-bottom: 0;
    padding: 55px 0;

    &--grey {
      background-color: #f1f1f1;
    }
  }
}

.form__inner {
  margin: 0 auto;
  padding: 0;
  width: 260px;
  border: none;
  border-top: @grey-border;

  &--phone {
    margin-bottom: 30px;
  }
}

@media (min-width: @tablet-width) {
  .form__inner {
    position: relative;
    padding-left: 167px;
    width: 668px;
    box-sizing: border-box;
    border: none;

    &--contacts {
      position: relative;
      width: 668px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form__inner {
    padding-left: 175px;
    width: 1050px;

    &--contasts {
      padding-right: 175px;
      width: 1050px;
      box-sizing: border-box;
    }
  }
}

.form__title {
  .font-property(17px, 16px, 700, @extra-color);
  padding: 0 25px 0 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .form__title {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (min-width: @desktop-width) {
  .form__title {
    left: 60px;
  }
}

.form__list {
  .lists-reset();

  &--product-type {
    width: 260px;
  }
}

@media (min-width: @tablet-width) {
  .form__list {
    &--product-type {
      width: 334px;
    }

    &--color {
      display: flex;
      flex-wrap: wrap;
      width: 500px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form__list {
    &--product-type {
      width: 350px;
    }

    &--color {
      width: 875px;
    }
  }
}

.form__item {
  &--product-type {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &--color {
    margin-bottom: 30px;

    &:last-child {
      margin: 0;
    }
  }

  &--client-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: @tablet-width) {
  .form__item {
    &--product-type {
      &:not(:last-child) {
        margin-bottom: 55px;
      }
    }

    &--client-name {
      flex-direction: row;
    }
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
  .form__item {
    &--color {
      margin: 0 50px 40px 0;
      width: 225px;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .form__item {
    &--color {
      margin: 0 100px 50px 0;
      width: 225px;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-last-child(-n+3) {
        margin-bottom: 0;
      }
    }

    &--client-name {
      padding-right: 175px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form__field {
    padding-right: 175px;
  }
}

.form__btn-wrapper {
  margin: 0 auto;
  width: 260px;
}


@media (min-width: @tablet-width) {
  .form__btn-wrapper {
    display: flex;
    justify-content: space-between;
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .form__btn-wrapper {
    display: flex;
    width: 700px;
  }
}

.form__extra-info {
  .font-property(14px, 16px, 400, @content-color);
}

@media (min-width: @tablet-width) {
  .form__extra-info {
    .font-property(17px, 30px, 400, @content-color);
    order: 1;
    width: 334px;
    text-align: right;
  }
}
