.lists-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.font-main-property(@font-size: 25px, @line-height: 30px) {
  font-family: @body-font-family;
  font-size: @font-size;
  line-height: @line-height;
  font-weight: 700;
  color: @main-color;
}

.font-content-property(@font-size: 15px, @line-height: 30px) {
  font-family: @body-font-family;
  font-size: @font-size;
  line-height: @line-height;
  font-weight: 400;
  color: @content-color;
}

.mobile-button-property() {
  display: block;
  width: @mobile-button-width;
}
