@media (max-width: @mobile-width-only) {
  .navigation {
    &--opened .navigation__wrapper {
      display: block;
    }

    &--closed .navigation__wrapper {
      display: none;
    }

    &--nojs .navigation__button {
      display: none;
    }

    &--nojs .navigation__wrapper {
      display: block;
    }
  }
}

.navigation__button {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  font-size: 0;
  background-color: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 20px;
    height: 14px;
    background-image: url("../img/icon-menu-open.svg");
  }
}

@media (min-width: @tablet-width) {
  .navigation__button {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .navigation__wrapper {
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .navigation__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @tablet-width) {
  .navigation__site-nav {
    position: absolute;
    left: -320px;
    bottom: -43px;
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .navigation__site-nav {
    position: static;
  }
}

@media (min-width: @desktop-width) {
  .navigation__user-nav {
    margin-left: 270px;
  }
}

.navigation__catalog-nav {
  display: none;
}

@media (min-width: @desktop-width) {
  .navigation__catalog-nav {
    position: absolute;
    left: 0;
    bottom: -42px;
    z-index: 1;
    display: flex;
  }
}
