.page-header {
  border-top: @grey-border;
  border-bottom: @grey-border;
}

.page-header__wrapper {
  .font-property(17px, 24px);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    width: 1050px;
  }
}

.page-header__logo {
  margin: 18px auto;
  width: 86px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    margin: 19px 231px 16px 0;
    width: 113px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    position: absolute;
    top: -10px;
    left: 450px;
    z-index: 1;
    width: 150px;
    height: 75px;
  }
}

@media (min-width: @tablet-width) {
  .page-header__navigation {
    width: 350px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__navigation {
    width: 1050px;
  }
}

.page-header__extra-info {
  .font-property(15px, 24px, 400, @content-color);
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header__extra-info {
    position: absolute;
    right: 0;
    bottom: -42px;
    z-index: 1;
    display: block;
    margin: 0;
  }
}
