.page-footer {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

.page-footer__socials {
  margin: 0 auto;
  padding: 20px 0;
  width: 260px;
}

.page-footer__copyright {
  margin: 0 auto;
  padding: 20px 0;
  width: 260px;
}
