.page-main__title {
  .font-property(27px, 30px);
  display: block;
  margin: 0 0 30px;
  padding: 70px 30px;
  text-align: center;
  background-color: @extra-background;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    .font-property(43px, 50px);
    margin: 0 0 80px;
    padding: 80px 50px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__title {
    .font-property(53px, 57px);
    margin: 0 0 130px;
    padding: 90px 50px;
  }
}

.page-main__product-category {
  margin: 0 auto 25px;
}

@media (min-width: @tablet-width) {
  .page-main__product-category {
    margin-bottom: 45px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__product-category {
    margin-bottom: 130px;
  }
}

.page-main__product-week {
  margin: 0 auto 70px;
}

@media (min-width: @tablet-width) {
  .page-main__product-week {
    margin-bottom: 120px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__product-week {
    margin: 0 auto 160px;
    width: 1050px;
  }
}

.page-main__about {
  margin: 0 auto 55px;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .page-main__about {
    margin-bottom: 70px;
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__about {
    margin-bottom: 80px;
    width: 1050px;
  }
}

.page-main__review {
  margin: 0 auto 90px;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .page-main__review {
    margin-bottom: 150px;
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__review {
    margin-bottom: 160px;
    width: 1050px;
  }
}

.page-main__contacts {
  margin: 0 auto 40px;
}

@media (min-width: @tablet-width) {
  .page-main__contacts {
    margin-bottom: 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__contacts {
    margin-bottom: 110px;
    width: 1050px;
  }
}

.page-main__catalog {
  margin: 0 auto 30px;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .page-main__catalog {
    margin-bottom: 50px;
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__catalog {
    margin-bottom: 10px;
    width: 1050px;
  }
}

.page-main__order {
  margin-bottom: 60px;
}

@media (min-width: @tablet-width) {
  .page-main__order {
    margin-bottom: 50px;
  }
}

.page-main__how-made {
  margin: 0 auto 60px;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .page-main__how-made {
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__how-made {
    width: 1050px;
  }
}
