.page-footer {
  background-color: @extra-background;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0;
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding: 55px 0;
    width: 1050px;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__logo {
    margin-right: 100px;
  }
}

.page-footer__socials {
  padding: 28px 60px;
  width: 260px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .page-footer__socials {
    padding: 0;
    width: 150px;
  }
}

.page-footer__copyright {
  padding: 25px 0;
  width: 150px;
}

@media (min-width: @tablet-width) {
  .page-footer__copyright {
    padding: 0;
    text-align: right;
  }
}
