.product-week {
  position: relative;

  &::before {
    .waveborder();
    bottom: -45px;
  }
}

@media (min-width: @tablet-width) {
  .product-week {
    &::before {
      bottom: -70px;
      height: 8px;
    }
  }
}

@media (min-width: @desktop-width) {
  .product-week {
    &::before {
      bottom: -100px;
      height: 10px;
    }
  }
}

.product-week__general {
  .font-property();
  margin: 0 auto 30px;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .product-week__general {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .product-week__general {
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
    padding-left: 175px;
    width: 1050px;
    box-sizing: border-box;
  }
}

.product-week__title {
  .font-property();
  margin: 20px 0;
}

@media (min-width: @tablet-width) {
  .product-week__title {
    .font-property(43px, 50px);
    width: 500px;
  }
}

@media (min-width: @desktop-width) {
  .product-week__title {
    .font-property(53px, 57px);
  }
}

.product-week__section {
  .font-property(17px, 20px, 700, #63d1bb);
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .product-week__section {
    font-size: 17px;
    line-height: 17px;
    width: 100px;
  }
}

@media (min-width: @desktop-width) {
  .product-week__section {
    position: absolute;
    top: 0;
    left: 40px;
    text-align: center;
  }
}

.product-week__wrapper {
  margin: 0 auto;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .product-week__wrapper {
    position: relative;
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .product-week__wrapper {
    padding-left: 175px;
    width: 1050px;
    box-sizing: border-box;
  }
}

.product-week__info {
  .font-property(15px, 24px, 400, @content-color);
  margin: 0 0 30px;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .product-week__info {
    width: 290px;
    margin-bottom: 45px;
  }
}

@media (min-width: @desktop-width) {
  .product-week__info {
    margin-bottom: 60px;
  }
}

.product-week__description {
  .font-property(15px, 30px, 400, @content-color);
  border-collapse: collapse;
  margin: 0 0 30px;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .product-week__description {
    width: 290px;
    margin-bottom: 60px;
  }
}

@media (min-width: @desktop-width) {
  .product-week__description {
    margin-bottom: 100px;
  }
}

.product-week__property {
  width: 98px;
  border-bottom: @grey-border;
}

.product-week__value {
  width: 158px;
  border-bottom: @grey-border;
}

.product-week__price {
  .font-property(17px, 24px);
  display: block;
  margin: 0;
  padding: 25px 0;
  width: 260px;
  color: @content-color;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .product-week__price {
    width: 290px;
    margin-bottom: 30px;
  }
}

.product-week__image-link {
  display: block;
  margin: 0;
  width: 260px;
}

@media (min-width: @tablet-width) { /* правильно ли здесь сделать абсолютное позиционирование? */
  .product-week__image-link {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
  }
}

@media (min-width: @tablet-width) {
  .product-week__image {
    width: 335px;
    height: 405px;
    vertical-align: bottom;
  }
}

@media (min-width: @desktop-width) {
  .product-week__image {
    width: 525px;
    height: 635px;
  }
}

.product-week__order {
  margin: 0;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .product-week__order {
    width: 290px;
  }
}
