.product-category {
  background-color: @body-background;
  background-image: url("../img/hero-mobile@1x.jpg");
}

.product-category__slogan {
  .font-main-property(27px, 30px);
  padding-top: 70px;
  padding-left: 30px;
  padding-bottom: 120px;
  padding-right: 30px;
  text-align: center;
}

.product-category__list {
  .lists-reset();
}

.product-category__item {
  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.product-category__link {
  .font-main-property(19px, 24px);
  display: block;
  padding-top: 25px;
  padding-left: 30px;
  padding-bottom: 25px;
  padding-right: 160px;
  color: #ffffff;
  text-decoration: none;
}
