.product-category {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position-x: center;
}

@media (min-width: @tablet-width) {
  .product-category {
    background-image: url("../img/hero-tablet@1x.jpg");
  }
}

@media (min-width: @desktop-width) {
  .product-category {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: cover;
  }
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .product-category {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position-x: center;
  }

  @media (min-width: @tablet-width) {
    .product-category {
      background-image: url("../img/hero-tablet@1x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    .product-category {
      background-image: url("../img/hero-desktop@1x.jpg");
      background-size: cover;
    }
  }
}

.product-category__slogan {
  .font-property(27px, 30px);
  margin: 0 auto;
  padding: 70px 0 130px;
  width: 260px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .product-category__slogan {
    .font-property(43px, 50px);
    padding: 160px 0 365px;
    width: 500px;
  }
}

@media (min-width: @desktop-width) {
  .product-category__slogan {
    .font-property(43px, 50px);
    padding: 160px 0 350px;
    width: 630px;
  }
}

.product-category__list {
  .lists-reset();
}

@media (min-width: @tablet-width) {
  .product-category__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .product-category__list {
    width: 1050px;
  }
}

.product-category__item {
  margin: 0 auto;
  width: 320px;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

@media (min-width: @tablet-width) {
  .product-category__item {
    position: relative;
    margin: 5px auto 0;
    width: 334px;

    &:hover {
      margin-top: 0;
      padding-top: 5px;
    }
  }
}

@media (min-width: @desktop-width) {
  .product-category__item {
    width: 525px;
  }
}

.product-category__link {
  .font-property(19px, 24px);
  display: block;
  padding: 25px 160px 25px 30px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .product-category__link {
    padding: 25px 350px 25px 30px;
  }
}

.product-category__icon {
  display: none;
}

@media (min-width: @tablet-width) {
  .product-category__icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: block;
    fill: #3bb09d;
  }
}
