.site-nav {
  .lists-reset();
  background-color: @main-background;
}

.site-nav__link {
  display: block;
  padding-top: 28px 75px 28px 0;
  color: @main-color;
  text-decoration: none;
  background-color: @main-background;
  border-bottom: @grey-border;
}
