.user-nav {
  .lists-reset();
  background-color: @main-background;
}

.user-nav__link {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 75px;
  color: @main-color;
  text-decoration: none;
  background-color: @main-background;
  border-bottom: @grey-border;
}
