@body-font-family: "Open Sans", "Arial", sans-serif;
@main-color: #000000;
@content-color: #444444;
@main-background: #ffffff;
@extra-background: #f1f1f1;
@grey-border: 1px solid #ececec;
@mobile-button-width: 260px;
